nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Navbar li {
  display: inline-block;
  text-align: center;
  padding: 1rem 0;
  margin: 0 1rem;
}

.Navbar li:hover {
  color: #f23005;
  border-bottom: 2px solid #f23005;
}

.Logo {
  background: url("../../../img/Page/logo.png") no-repeat center center/cover;
  width: 100px;
  height: 70px;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .Logo {
    display: none;
  }
}

@media (max-width: 400px) {
}
